#
# 	
# 	"Copyleft – all lefts reversed" - 2023 Ricardo Couto
#
# 	This program is free software: you can redistribute it and/or modify
# 	it under the terms of the GNU General Public License as published by
# 	the Free Software Foundation, either version 3 of the License, or
# 	(at your option) any later version.
#
# 	This program is distributed in the hope that it will be useful,
# 	but WITHOUT ANY WARRANTY; without even the implied warranty of
# 	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# 	GNU General Public License for more details.
#
# 	You should have received a copy of the GNU General Public License
# 	along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,*,all/allfiles
MimeType=all/all;
Actions=new-note-xpad;create-txt
Icon=xpad
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu[pt_BR]=Notas do XPad
X-KDE-Submenu[en]=Xpad Notes
X-KDE-Submenu[nl]=Xpad-notities
Encoding=UTF-8
Terminal=false

[Desktop Action new-note-xpad]
Name[pt_BR]=Nova Nota
Name[en]=New Note
Name[nl]=Nieuwe notitie
Icon=xpad
Exec=xpad --new

[Desktop Action create-txt]
Name[pt_BR]=Criar nota deste arquivo
Name[en]=Make note of this file
Name[nl]=Notitie van bestand maken
Icon=xpad
Exec=cat "%f" > /tmp/rascxpad.txt | xpad --new-from-file=/tmp/rascxpad.txt
